.answers {
  background-color: lightgray;
}

.answer {
  width: 49%;
  margin: 5px;
  height: 30px;
  border-radius: 10px;
}

.answer0 {
  background-color: red;
  color: white;
  pointer-events: all;
  cursor: pointer;
}

.answer1 {
  background-color: goldenrod;
  color: white;
  pointer-events: all;
  cursor: pointer;
}

.answer2 {
  background-color: lightgreen;
  color: white;
  pointer-events: all;
  cursor: pointer;
}

.answer3 {
  background-color: blue;
  color: white;
  pointer-events: all;
  cursor: pointer;
}
